<!DOCTYPE html>
<html>
<head>
  <title>Hello Friend!</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
</head>
<body>
<p> What if your name was @Model.GetName() and you wore a @Model.GetAdjective() hat. Haha.
</body>
</html>
